<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mq.rabbit.mapper.SUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mq.rabbit.entity.SUser">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="salt" property="salt" />
        <result column="status" property="status" />
        <result column="last_login_ip" property="lastLoginIp" />
        <result column="update_time" property="updateTime" />
        <result column="creator_id" property="creatorId" />
        <result column="create_time" property="createTime" />
        <result column="point_hash" property="pointHash" />
        <result column="telephone" property="telephone" />
        <result column="birthday" property="birthday" />
        <result column="address" property="address" />
        <result column="avatar" property="avatar" />
        <result column="e_mail" property="eMail" />
    </resultMap>

</mapper>
